
.password_container{
  width: 100%;
  height: 800px;
  background-color: rgb(48, 47, 47);
  position: fixed;
}

/*Container til alt indhold*/
.content_container {
  display: flex;
}

.heading{
margin-top: 12%;
font-size: 2rem;
margin-left: 15%;
}


.heading1_landing img {
  width: 97%;
  margin-left: 3%;
  margin-top: -2.5%;
}

/* menu-container*/
.menu_container {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 20px;
  z-index: 100;
}


/* scroll section upcoming events */
.upcoming_event_section{
  display: block; /* Display upcoming events in a row */
  width: 100%;
}
.upcoming_event_card {
  margin-right: 15px;
  margin-left: 21%;
  position: relative;
}

.upcoming_event_card img{
  width: 350px;
}
.upcoming_event_card p{
 margin-top: -5px;
}

.upcoming_event_card h3 {
  position: absolute;
  top: 3%;
  left: 0;
  z-index: 1;
}
.h4_upcoming{
  font-size: 1rem;
  margin-bottom: 2px;
}

.instagram_link{
  color: black;
}

/*BUTTON HOVER EFFEKT*/
.button1, .button2, .button3 {
  position: relative;
  display: block;
  margin-top: 5px;
  background-color: #fff; /* Initial background color */
  color: #333;
  padding: 10px 20px;
  border: 1px solid black;
  overflow: hidden; /* Ensure overflow is hidden to contain the fill effect */
  transition: background-color 0.8s ease, color 0.8s ease; /* Add color transition */
}

.button1::before, .button2::before {
  content: "";
  position: absolute;
  top: 0; /* Start from the top */
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000; /* Fill color */
  z-index: -1; /* Move the fill below the text */
  transition: height 0.8s ease, background-color 0.8s ease; /* Add background-color transition */
}

/* Hover effect - Black background rolls from top to bottom */
.button1:hover::before, .button2:hover::before {
  height: 100%; /* Increase height to 100% on hover */
  z-index: -1; /* Ensure the fill stays behind the text on hover */
}

.button1:hover, .button2:hover {
  color: #fff; /* Change text color to white on hover */
  z-index: 1; /* Ensure the text stays above the fill on hover */
}

/* Remove effect transition - White background rolls from bottom to top */
.button1::before,
.button1, .button2::before,
.button2 {
  transition: height 0.8s ease, background-color 0.8s ease; /* Add transition for normal state */
}

/* Add transition for white background on mouseleave */
.button1:not(:hover)::before, .button2:not(:hover)::before{
  height: 0; 
}


/*MODAL BOOKING-FORM*/
.modal {
  background-color: rgb(234, 229, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  z-index: 1000;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow-y: hidden;
}

.formGroup, .formGroup_1 {
  text-align: left;
  position: relative;
  margin-bottom: 10px;
  margin-inline: 20px;
}
.formGroup_1 input {
  width: 150px;
  padding: 20px;
  border: 1px solid #ccc;
}

.formGroup input {
  padding-block: 20px;
  padding-right: 250px;
  border: 1px solid #ccc;
  text-align: left;
}

.formGroup label {
  position: relative;
  color: #777;
  pointer-events: none;
  transition: 0.3s ease-out;
  text-align: left;
  place-content: left;
}

.card_details_holder {
  display: flex;
  margin-left: 20px;
}

.formGroup_card input{
  width: 80%;
  padding-block: 20px;
  padding-right: 5px;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 10%;
}

.modal h2 {
  color: #4a4949;
  font-size: 2rem;
  margin-top: 12%;
  margin-left: 20px;
}

.form_container{
  margin-left: 20px;
}

.nextButton {
  background-color: #0e0e0e;
  color: #ffffff;
  padding: 10px 87px;
  border: none;
  margin-left: 40px;
}

.modal_closeButton {
  background-color: rgb(246, 243, 243);
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 3%;
}
.modal_backButton{
  background-color: rgb(246, 243, 243);
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 3%;
}



/*PREVIOUS EVENTS_ GALLERI SECTION*/
.galleri_overskrift{
  margin-top: 40px;
  font-size: 2rem;
  margin-left: 15%;
}
.galleri_holder{
  margin-left: 21%;
}
.galleri_holder img,
.galleri_holder video {
  width: 300px;
  margin: 10px;
  vertical-align: top;
}

.row_container{
  text-align: center;
}

.row_1{
  display: block;
  margin-top: 0;
}

@media (min-width: 750px) {
  .galleri_holder{
    margin-left: 18%;
  }
  .galleri_holder img,
  .galleri_holder video {
    width: 600px;
    margin: 10px;
    vertical-align: top;
  }

}


@media (min-width: 1100px) {
  .menuBar_container{
    margin-left: 7%;
  }
  .main_content {
    flex: 15;
    overflow-y: auto;
  }

  .heading{
    font-size: 4rem;
    margin-left: 0%;
    }
 
  .galleri_overskrift{
    margin-top: 10px;
    font-size: 2rem;
    margin-left: 14%;
  }
  

  /* container med up-coming og previous galleri  */
  .events_container{
    overflow-x: auto; 
    margin-left: 5%;
  }

  .events_container h2{
    margin-left: 3%;
  }

  .row_container{
    text-align: center;
    margin-left: 5%;
  }

  .upcoming_event_section{
    display: flex; /* Display upcoming events in a row */
    overflow-x: auto; /* Allow horizontal scroll if needed */
    width: 140%;
  }

  .upcoming_event_card {
    margin-right: 15px;
    margin-left: 2.5%;
    position: relative;
  }
  .upcoming_event_img {
    width: 500px;
    position: relative;
    margin-top: 10%;
  }
  .upcoming_event_card h3 {
    font-size: 4rem;
    position: absolute;
    top: 3%;
    left: 0;
    z-index: 1;
  }



/*TIDLIGERE EVETNST GALLERI*/
  .galleri_overskrift{
    margin-top: 12%;
    margin-left: 8%;
    font-size: var(--H2);
  }
  .galleri_holder{
    margin-left: 0%;
  }

  .galleri_holder p {
    padding-right: 24%;
    margin-top: 5px;
    margin-left: 8px
  }

  .galleri_holder h4{
    margin-left: 8px
  }


.row_1,.row_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0;
  padding-block-start: 10px;
  padding-bottom: 85px;
  margin-left: 8%;
}
.row_3{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 0;
  padding-block-start: 10px;
  padding-bottom: 85px;
  margin-left: 8%;
}
.row_4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0;
  padding-block-start: 10px;
  padding-bottom: 85px;
  margin-left: 8%;
}


/*RÆKKE 1 STYLING*/
.row_1 img {
  width: 350px;
}
.row_1_col_2{
  margin-left: -40%;
}
.row_1 video{
  width: 350px;
}

/*RÆKKE 2 STYLING*/
.row_2_col_1 img {
  width: 550px;
}
.row_2_col_2 img {
  width: 350px;
}
.row_2_col_2{
  margin-left: 40%;
}

/*RÆKKE 3 STYLING*/
.row_3 img{
  width: 230px;
  height: 300px;
  object-fit: cover;
 
}

/*RÆKKE 4 STYLING*/
.row_4 img{
  width: 600px;
  margin-right: -10%;
}

.row_4_col_1{
  margin-top: 39%;
  margin-left: 32%;
}
.row_4_col_1 img{
  width: 350px;
}


.modal h2 {
  color: #4a4949;
  font-size: 2rem;
}
.formGroup, .formGroup_1 {
  text-align: left;
  position: relative;
  margin-bottom: 16px;
}
.formGroup_1 input {
  width: 215px;
  padding: 25px;
  border: 1px solid #ccc;
}

.formGroup input {
  padding-block: 25px;
  padding-right: 360px;
  border: 1px solid #ccc;
  text-align: left;
}
.formGroup_card input{
  width: 80%;
  padding-block: 25px;
  padding-right: 5px;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 15%;
  margin-left: 10px;
}
.nextButton {
  padding: 10px 120px;
  margin-left: 20px;
}
.card_details_holder {
  display: flex;
  margin-left: 10px;
}
.form_container p{
  margin-left: 10px;
}
}

